{% extends 'base.html.twig' %}

{% block title %}
	{{ event.name }}
{% endblock %}

{% block body %}

	<div class="pt-6">
		<div class="flex justify-end pr-10">
			<a href="{{ path('app_event_index') }}" class="underline">Voir tous les événements</a>
		</div>

		<!-- Event info -->
		<div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">

			<div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
				<h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{event.name}}</h1>
			</div>

			<!-- Favorite Image -->
			<div class="mt-4 lg:row-span-3 lg:mt-0">
				<img src="{{asset('assets/uploads/event_img/'~ event.favoriteImage)}}" alt="Image favorite">
			</div>

			<div
				class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
				<!-- Description and details -->

				<div>
					<p class="text-lg text-gray-900">Du
						{{ event.openingDate|date('d/m/Y')}}
						au
						{{ event.closingDate|date('d/m/Y')}}</p>
				</div>

				<div>
					<div class="my-2">
						<p class="text-base text-gray-900">Horaires :
							{{event.schedule}}</p>
					</div>
				</div>
				<div>
					<div class="space-y-6">
						<p class="text-base text-gray-900">{{ event.description }}</p>
					</div>
				</div>

				<div class="mt-10">
					<h3 class="text-sm font-medium text-gray-900">Contacts:</h3>

					<div class="mt-4">
						<ul role="list" class="list-disc space-y-2 pl-4 text-sm">
							{% if event.websiteLink != null %}
								<li class="text-gray-400">
									<span class="text-gray-600 ">Site internet:
										<a href="{{ event.websiteLink }}" target="_blank" class="underline">{{ event.websiteLink }}</a>
									</span>
								</li>
							{% endif %}
							{% if event.facebookLink != null %}
								<li class="text-gray-400">
									<span class="text-gray-600">Facebook:
										<a href="{{ event.facebookLink }}" target="_blank" class="underline">{{ event.facebookLink }}</a>
									</span>
								</li>
							{% endif %}
							{% if event.instagramLink != null %}
								<li class="text-gray-400">
									<span class="text-gray-600">Instagram:
										<a href="{{ event.instagramLink }}" target="_blank" class="underline">{{ event.instagramLink }}</a>
									</span>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>

				{# <div class="mt-10">
									<h2 class="text-sm font-medium text-gray-900">Artistes :</h2>
									<div class="mt-4 flex">
										{% for artist in event.artists %}
											<div class="text-gray-600 font-semibold underline container">
												<a href="{{ path('app_event_show', {'id': artist.id}) }}">{{ artist.artistName }}</a>
											</div>
										{% endfor %}
									</div>
								</div> #}
			</div>
		</div>

		<!-- Image gallery -->
		<div class="mx-auto mt-2 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8 gap-y-10 ">
			{% for image in event.eventImages %}
				<div class="aspect-h-4 aspect-w-3  overflow-hidden rounded-lg lg:block">
					<img src="{{asset('assets/uploads/event_img/'~ image.fileName)}}" alt="{{image.fileName}}" class="h-full w-full object-cover object-center">
				</div>
			{% endfor %}
		</div>

		<!-- Artist list -->
		{# <div>
					{% for artist in event.artists %}
						<a href="{{ path('app_artist_show', {'id': artist.id}) }}">
							<img src="{{asset('assets/uploads/artist_img/'~ artist.favoriteImage)}}" alt="Image favorite" height="150">
							{{ artist.artistName }}</a>
					{% endfor %}
				</div> #}


		{# <h3>Artistes</h3>
		        <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
		        {% for artist in event.artists %}
		            {% include 'artist/_card.html.twig'%}
		        {% else %}
		                <p>Aucun artiste trouvé<p>
		      {% endfor %} 
		      </div> #}

			<section>
			<!--Les artistes-->
				<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8"> <div class="flex items-center justify-between pb-10">
					<h2 class="text-2xl font-bold tracking-tight text-gray-900 ">
						Les artistes</h2>

				</div>

				<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
					{% for artist in event.artists %}
						{% include 'artist/_card.html.twig'%}
					{% endfor %}
				</div>
			</div>
		</section>

	{% if  is_granted("ROLE_ADMIN") %}
		<button class="flex justify-center mx-auto my-2 rounded-md bg-teal-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600 mt-4">	
				<a href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
		</button>
		
		<div >
                    {{ include('event/_delete_form.html.twig') }}
		</div>
		{% endif %}
	</div>


{% endblock %}
