{% extends 'base.html.twig' %}

{% block title %}Art et Création en partage{% endblock %}

{% block body %}
<div>
<h1> Qui sommes-nous?</h1>
<div>
<a href="{{path ('app_about_us')}}" title='A propos'>A propos</a>
<a href="{{path ('app_apply')}}" title='Appel à candidature'>Appel à candidature</a>
<a href="{{path ('app_contact')}}" title='Nous contacter'>Nous contacter</a>
</div>
</div>

<div>
<h1> Nos événements</h1>
 
   {% for event in events %}
       <a href="{{path ('app_event_show', {'id':event.id})}}" title='Aller à {{event.name}}'>{{event.name}}</a> 
    {% endfor %} 
     <a href="{{path ('app_event_index')}}" title='Voir tous les événements'>Tous nos événements</a>
</div>
<div>
<h1> Nos artistes</h1>
 
   {% for artist in artists %}
       <a href="{{path ('app_artist_show', {'id':artist.id})}}" title='Voir  {{artist.artistName}}'>{{artist.artistName}}</a> 
    {% endfor %} 
     <a href="{{path ('app_artist_index')}}" title='Voir tous les artistes'>Tous les artistes</a>
</div>
{% endblock %}
