{% extends 'base.html.twig' %}

{% block title %}Art et Création en partage
{% endblock %}

{% block body %}

	<div
		class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
		<!--Nos événements-->
		<section>
			<div class="pb-20">
				<div class="flex items-center justify-between pb-10">
					<h2 class="text-2xl font-bold tracking-tight text-gray-900 ">
						Nos événements</h2>
					<a href="{{path ('app_event_index')}}" class="underline hover:text-teal-800" title='Voir tous les événements'>Voir tout</a>
				</div>

				<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-12 xl:gap-y-12">
					{% for event in events %}
						{% include 'event/_card.html.twig'%}
					{% endfor %}
				</div>
			</div>
		</section>

		<!--Picture 1-->
		<section class="bg-cover bg-center h-80" style="background-image: url('/assets/images/barjac_header.jpg')">
			<div class="flex bg-black bg-opacity-30 bg-cover bg-center h-80 relative">
				<div class="text-white text-4xl font-bold absolute bottom-10 left-0 p-4">
					<p class="text-xl pl-20">Barjac - Hors des sentiers battus 2023</p>
				</div>
			</div>
		</section>

		<!--Les artistes-->
		<section>
			{# <div class="my-10 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8"> #}
			<div class="py-20">
				<div class="flex items-center justify-between pb-10">
					<h2 class="text-2xl font-bold tracking-tight text-gray-900 ">
						Les artistes</h2>
					<a href="{{path ('app_artist_index')}}" class="underline hover:text-teal-800" title='Voir tous les artistes'>Voir tout</a>
				</div>

				<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-">
					{% for artist in randomArtists %}
						{% include 'artist/_card.html.twig'%}
					{% endfor %}
				</div>
			</div>
		</section>

		<!--Picture 2-->
		<section class="bg-cover bg-center h-80" style="background-image: url('/assets/images/main_photo4.jpg')">
			<div class="flex bg-black bg-opacity-30 bg-cover bg-center h-80 relative">
				<div class="text-white text-4xl font-bold absolute bottom-10 left-0 p-4">
					<p class="text-xl pl-20">Barjac - Hors des sentiers battus 2023</p>
				</div>
			</div>
		</section>

		<!--Qui sommes nous-->
		<section>
			<div class="py-20">
				<div class="flex items-center justify-between pb-10">
					<h2 class="text-2xl font-bold tracking-tight text-gray-900 ">
						Qui sommes-nous?</h2>
				</div>
				<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
					<a href="{{ path('app_about_us') }}" title="A propos" class="group relative block w-full h-64 ">
						<div class="relative w-full h-full rounded-lg overflow-hidden ">
							<img src="{{ asset('assets/images/main_photo5.jpg') }}" alt="a propos" class="w-full h-full object-cover object-center group-hover:opacity-75">
						</div>
						<h3 class="absolute inset-0 flex items-center justify-center text-white text-xl font-medium text-gray-900 bg-black bg-opacity-30 rounded-lg overflow-hidden">
							A propos
						</h3>
					</a>


					<a href="{{ path('app_apply') }}" title="Appel à candidature" class="group relative block w-full h-64 ">
						<div class="relative w-full h-full rounded-lg overflow-hidden ">
							<img src="{{ asset('assets/images/main_photo2.jpg') }}" alt="a propos" class="w-full h-full object-cover object-center group-hover:opacity-75">
						</div>
						<h3 class="absolute inset-0 flex items-center justify-center text-white text-xl font-medium text-gray-900 bg-black bg-opacity-30 rounded-lg overflow-hidden">
							Appel à candidature
						</h3>
					</a>

					<a href="{{ path('app_contact') }}" title="Nous contacter" class="group relative block w-full h-64 ">
						<div class="relative w-full h-full rounded-lg overflow-hidden ">
							<img src="{{ asset('assets/images/main_photo3.jpg') }}" alt="a propos" class="w-full h-full object-cover object-center group-hover:opacity-75">
						</div>
						<h3 class="absolute inset-0 flex items-center justify-center text-white text-xl font-medium text-gray-900 bg-black bg-opacity-30 rounded-lg overflow-hidden">
							Nous contacter
						</h3>
					</a>

				</div>
			</div>
		</section>
	</div>
{% endblock %}
