{% extends 'base.html.twig' %}

{% block title %}ArtistImage{% endblock %}

{% block body %}
    <h1>ArtistImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist_image.id }}</td>
            </tr>
            <tr>
                <th>FileName</th>
                <td>{{ artist_image.fileName }}</td>
            </tr>
             {# <tr>
                <th>Artiste</th>
                <td>{{ image.artist.artistName }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_artist_image_index') }}">back to list</a>

    <a href="{{ path('app_artist_image_edit', {'id': artist_image.id}) }}">edit</a>

    {{ include('artist_image/_delete_form.html.twig') }}
{% endblock %}
