{# {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Filtrer</button>
{{ form_end(form) }} #}

{# <div class="mb-6 bg-gray-100 p-4 rounded-md"> #}
	
	

	{{ form_start(form) }}

	<!-- First Column: Campus, Query, Date Range -->
	<div class="flex justify-start ">
    {# <h4 class="font-semibold mb-2 ">Filtrer</h4> #}
			<div >
				{# <label for="q" class="mb-1 font-medium">Le nom de la sortie contient :</label> #}
				{{ form_widget(form.q, {'attr': {'class': 'border p-2 rounded-md w-full'}}) }}
			</div>
			<div>
				{# <label for="campus" class="mb-1 font-medium">Catégorie</label> #}
				{{ form_widget(form.category, {'attr': {'class': 'border p-2 rounded-md mx-4 pr-10'}}) }}
			</div>
            <div>
				<button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-500 ">Filtrer</button>
			</div>
	</div>

	{{ form_end(form) }}

{# </div> #}
