{% extends 'base.html.twig' %}

{% block title %}Modifier une fiche Artiste
{% endblock %}

{% block body %}
	<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
		<div class="flex items-center justify-between pb-10">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900 ">
				Modifier une fiche artiste</h2>
		</div>
		<div>
			{{ include('artist/_form.html.twig') }}
		</div>
		<div>
			<a href="{{ path('app_artist_show', {'id': artist.id}) }}" class="underline hover:text-teal-800">Retour sur ma fiche</a>
		</div>
		<div class="pt-10 pb-5">
			<h3 class="text-lg font-bold tracking-tight text-gray-900 ">Photo mise en avant:</h3>
			<img src="{{asset('assets/uploads/artist_img/'~ artist.favoriteImage)}}" alt="Image favorite" class=" h-96 ">
		</div>
		<div class="py-5">
			<h3 class="text-lg font-bold tracking-tight text-gray-900 ">Mes photos:</h3>
			<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-">
				{% for image in artist.artistImages %}
					<div>
						<img src="{{asset('assets/uploads/artist_img/'~ image.fileName)}}" alt="Image {{image.fileName}}" class="max-h-96 ">
						{{ include('artist/_delete_image_form.html.twig') }}
					</div>
				{% endfor %}
			</div>
		</div>
		<div>
			{{ include('artist/_delete_form.html.twig') }}
		</div>
	</div>


	{# <div>
			<a href="{{ path('app_artist_show', {'id': artist.id}) }}" class="underline hover:text-teal-800">Retour sur ma fiche</a>
			{{ include('artist/_delete_form.html.twig') }}
		</div>
		<div class="flex flex-col">
			<h3 class="mt-1 text-lg font-bold text-gray-900">Photo mise en avant:</h3>
			<div class="flex h-[270px]">
				<img src="{{asset('assets/uploads/artist_img/'~ artist.favoriteImage)}}" alt="Image favorite ">
			</div>
		</div>
		<div class="flex flex-col">
			<h3 class="mt-1 text-lg font-bold text-gray-900">Mes photos:</h3>
	
			<div class="grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-3 ">
				{% for image in artist.artistImages %}
					<div class="flex flex-col">
						<img src="{{asset('assets/uploads/artist_img/'~ image.fileName)}}" alt="Image {{image.fileName}}" class="h-[270px]">
						{{ include('artist/_delete_image_form.html.twig') }}
					</div>
				{% endfor %}
			</div>
	
		</div> #}
{% endblock %}
