{% extends 'base.html.twig' %}

{% block title %}{{artist.artistName}}{% endblock %}

{% block body %}
    <h1>{{artist.artistName}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom d'artiste</th>
                <td>{{ artist.artistName }}</td>
            </tr>
             <tr>
                <th>Image favorite</th>
                <td><img src="{{asset('assets/uploads/artist_img/'~ artist.favoriteImage)}}" alt="Image favorite" height="150"></td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ artist.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ artist.lastName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artist.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ artist.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ artist.telephone }}</td>
            </tr>
            <tr>
                <th>Site internet</th>
                <td>{{ artist.websiteLink }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ artist.facebookLink }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ artist.instagramLink }}</td>
            </tr>
            <tr>
                <th>Catégories</th>
                <td>{% for category in artist.categories %}
                     <a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.name }}</a> 
                {% endfor %}
                </td>
            </tr>
             <tr>
                <th>Evénements participés</th>
                <td>{% for event in artist.events %}
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">
                    <img src="{{asset('assets/uploads/event_img/'~ event.favoriteImage)}}" alt="Image favorite" height="150">{{ event.name }}</a>
                {% endfor %}
                </td>
            </tr>
             <tr>
                <th>Images</th>
                <td>{% for image in artist.artistImages %}
                <img src="{{asset('assets/uploads/artist_img/'~ image.fileName)}}" alt="{{image.fileName}}" height="150">
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_artist_index') }}">Voir tous les artistes</a>

    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">Modifier</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
