
<footer class="flex flex-col bg-gray-800 mt-[50px] pb-5">
	<nav >
		<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
			<div class="relative flex h-16 items-center justify-between">
				
				<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
					<div class="hidden sm:ml-6 sm:block "> <!-- items nav link-->
						<div class="flex space-x-4">
							<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
							{# <a href="{{path('app_main')}}" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Accueil</a> #}
							<a href="{{path('app_main')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"> Accueil</a>
							<a href="{{path('app_about_us')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">A propos</a>
							<a href="{{path('app_event_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Evénements</a>
							<a href="{{path('app_artist_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Artistes</a>
							<a href="{{path('app_contact')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contact</a>
						</div>
					</div>
				</div>
				<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
					{# {% if app.user %}
						<a href="{{ path('my_profile')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Mon profil</a>
						{% if app.user.artist %}
							<a href="{{ path('app_artist_edit', {'id': app.user.artist.id} ) }}" class=" text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Ma fiche artiste</a> 
						{% else %}
							<a href="{{ path('app_artist_new')}}" class=" text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Créer une fiche artiste</a> 
						{% endif %}
						<a href="{{ path('app_logout')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Déconnexion</a>
						<span class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{ app.user.userIdentifier }}</span>
					{% else %}
								<a href="{{ path('app_login')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Se connecter</a>
					{% endif %} #}
					<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Mentions légales et politique de confidentialité</a>
				</div>
			</div>
		</div>
	</nav>
    <div class="flex items-center justify-center">
        <p class="text-sm text-gray-300">2023 | Art et création en partage</p>
    </div>

</footer>
