<nav>
	<div class="flex flex-col lg:flex-row items-center justify-between text-gray-100 text-lg font-bold px-10">
		<div class="flex lg:flex-row sm:flex-col flex-col">

			<div>
				<a href="{{path('app_main')}}" class=" hover:bg-teal-200 hover:text-black rounded-md px-4 py-2 ">Accueil</a>
			</div>
			<div>
				<a href="{{path('app_about_us')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">A propos</a>
			</div>
			<div>
				<a href="{{path('app_event_index')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Evénements</a>
			</div>
			<div>
				<a href="{{path('app_artist_index')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Artistes</a>
			</div>
			<div>
				<a href="{{path('app_contact')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Contact</a>
			</div>
		</div>

		<div class="flex items-center lg:flex-row flex-col">
			
				{% if app.user %}
					<div class="flex flex-col lg:flex-row">
						{% if  is_granted("ROLE_ADMIN") %}
						<div >
						<a href="{{ path('app_category_index')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Catégories</a>
						</div>
							<div>
							<a href="{{ path('app_register')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-3 py-2">Inscription</a>
						</div>
						{% endif %}
					</div>
					<div>
						{% if app.user.artist %}
							<a href="{{ path('app_artist_show', {'id': app.user.artist.id} ) }}" 
							class=" hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Ma fiche artiste</a>
						{% else %}
							<a href="{{ path('app_artist_new')}}" 
							class=" hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Créer une fiche artiste</a>
						{% endif %}
					</div>
					<div>
						<a href="{{ path('my_profile')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Mon profil</a>
					</div>
					<div>
						<a href="{{ path('app_logout')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-4 py-2">Déconnexion</a>
					</div>
					<div class="text-gray-300 px-4 py-2 text-sm font-medium">
						{{ app.user.userIdentifier }}
					</div>
				{% else %}
					<div class="flex items-center lg:flex-row sm:flex-col flex-col">
						
						<div>
							<a href="{{ path('app_login')}}" class="hover:bg-teal-200 hover:text-black rounded-md px-3 py-2">Se connecter</a>
						</div>
					</div>
				{% endif %}
			
		</div>
	</nav>
