<nav>
    <div>
        <a href="{{path('app_main')}}">Logo Art et création</a>
        <a href="{{path('app_main')}}">Accueil</a>
        <a href="{{path('app_about_us')}}">A propos</a>
        <a href="{{path('app_event_index')}}">Evénements</a>
        <a href="{{path('app_artist_index')}}">Artistes</a>
        <a href="{{path('app_category_index')}}">Catégories</a>
        <a href="{{path('app_contact')}}">Contact</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Se connecter</a>
    </div>
</nav>
